<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>All Events</title>
</head>
<body>
<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<a href="/events/create"><button>+New Event</button></a>-->

<p th:unless="${events} and ${events.size()}">No Events</p>

<ul>
    <th:block th:each="event : ${events}">
        <li th:text="${event}">event</li>
    </th:block>
</ul>

<img th:replace="fragments :: balloons">

</body>
</html>