<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<a href="/events/create"><button>+New Event</button></a>-->

<p th:unless="${events} and ${events.size()}">No Events</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
        <td th:replace="fragments :: address"></td>
<!--        <td><img th:replace="fragments :: balloons"/></td>-->
    </tr>
</table>



<!--<img th:replace="fragments :: balloons">-->

</body>
</html>